.header h1{
    color: orange;
    background-color: black;
    font-size: 90px;
    text-align: right;
    padding: 20px;
    margin: 0px;
    font-family: Tahoma, sans-serif;
}

.header h2{
    background-color: orange;
    padding: 0px;
    margin: 0px;
    font-size: 35px;
    text-align: right;
    font-family: Tahoma, sans-serif;
}